<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
</br>
  <div class="field">
    <%= f.label :name, "Nom du produit voulu" %></br>
    <%= f.text_field :name %>
  </div>
  </br>
  <div class="field">
    <%= f.label :price, "Prix maximal à y accorder"%></br>
    <%= f.text_field :price %>
  </div>
  </br>

  <div class="field">
    <%= f.label :deadline, "Date limite à l'achat" %></br>
    <%= f.date_select :deadline %>
  </div>
  </br>

 <div class="field"> 
 <%= f.label :picture, "La photo de votre article ou de votre inspiration" %></br></br>
   <%= f.file_field :picture%> </div> </br>
 
 <div> <%= f.submit 'Envoyer' %></div>
<% end %>
