<h1>Votre "Wishlist"</h1>

<table>
  <thead>
    <tr>
      <th>Nom du produit voulu</th>
      <th>Prix maximal à y accorder</th>
      <th>Date limite à l'achat</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.name %></td>
        <td><%= post.price %></td>
        <td><%= post.deadline %></td>
        <td><%= link_to 'Agrandir', post %></td>
        <td><%= link_to 'Editer', edit_post_path(post) %></td>
        <td><%= link_to 'Supprimer', post, method: :delete, data: { confirm: 'Êtes-vous sûr de votre choix ?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Ajouter un nouvel article', new_post_path %>
