<div class="page"><h1> Mon article </h1> </br>
<p id="notice"><%= notice %></p>

<p>
  <strong>Nom de l'article voulu:</strong>
  <%= @post.name %>
</p>

<p>
  <strong>Prix maximal à y accorder:</strong>
  <%= @post.price %>
</p>

<p>
  <strong>Date limite:</strong>
  <%= @post.deadline %>
</p>
<p class="pic">
<strong> Photo </strong> <br/></br>
<%=image_tag @post.picture.url(:large) %>
</p> </br></br>
<span><%= link_to 'Éditer', edit_post_path(@post) %> |
<%= link_to 'Retour', posts_path %> </span>
</div> </br></br>
<p></p>